*{
    box-sizing: border-box;
}
article{
    background-color: black;

}
main{
    background-color: white;
}

header h1{
    margin: 0px;
    color: green;
    border: 2px solid lightgray;
    padding: 20px;
}
li{
    padding: 0px;
}
ul{
    display: grid;
    gap: 0%;
    grid-template-columns: 180px 180px 180px;
    gap: 0px;
    border: 2px solid lightgray;
    padding: 10px;
    list-style-type: none;
}
a{
    color: yellow;

    text-decoration: none;
}
li{
    background-color: darkgreen;
    padding: 10px;
    border: 2px solid gray;
}
li:hover{
    color: greenyellow;
    background-color: palevioletred;

}
article{
    display: grid;
    grid-template-columns:repeat(5,1fr) ;
    grid-template-rows: repeat(4, 1fr);
    color: white;
    gap: 10px;

}
div{

    text-align: center;
    border: 2px solid white;
}
img{
    padding: 5px;
    width: auto;
    
}
article div:nth-child(1){

    grid-column-start: 5 ;
    grid-row:  2;
    grid-row-end: 5;
}
article div:nth-child(2){
    grid-column-start: 1 ;
    grid-row-start: 2 ;
}
article div:nth-child(3){
    grid-column-start: 1 ;
    grid-row-start: 4 ;
}
article div:nth-child(4){
    grid-column-start: 1 ;
    grid-row-start: 1 ;
}
article div:nth-child(5){
    grid-column-start: 2 ;
    grid-row-start: 4 ;
}
article div:nth-child(6){
    grid-column-start:  2;
    grid-column-end: 6;
    grid-row-start: 1 ;

}
article div:nth-child(7){
    grid-column-start: 3 ;
    grid-row-start: 4 ;
}
article div:nth-child(8){
    grid-column-start: 4 ;
    grid-row-start: 4 ;

}
article div:nth-child(9){
    grid-column-start:  2 ;
    grid-row-start:  2 ;
    grid-row-end: 4;
    grid-column-end: 5;
}
article div:nth-child(10){
    grid-column-start: 1 ;
    grid-row-start: 3;

}